.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 20px 0;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

thead {
  background-color: rgb(213, 220, 66);
  color: white;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.pagination {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

button {
  padding: 10px 18px;
  border: none;
  background-color: rgb(208, 221, 21);
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.page-number {
  padding: 10px 15px;
  background: rgb(228, 224, 13);
  color: white;
  border-radius: 4px;
}
